body {
    margin: 0;
}

.right {
    margin-left: -15vw !important;
}

header {
    background-color: #99BF87;
    height: 9vw;
    width: 100vw;
    border-bottom: solid 1px black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    width: 8vw;
}

h1 {
    font-size: 4.5vw;
    margin-left: 2.5vw;
    border-bottom: solid 5px #F4F4F4;
    padding-right: 20vw;
}

.Expenses {
    background-color: #EAEAEA;
    margin-top: 1vw;
    margin-left: 1vw;
    height: 90vh;
    width: 50vw;
    border: solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.eheader {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    width: 20rem;
    margin-left: 17vw;
    font-size: 2.5vw;
    margin-right: 10vw;
}

.ExpensesInput {
    width: 6rem;
    height: 1.2rem;
    border-radius: 10px;
    box-shadow: 0px 1.5px;
    margin-top: -1vw;
    margin-left: 5vw;
}

.Expenses p {
    /* text-shadow: 0px 1px; */
    font-size: 2rem;
margin-left: 5vw;
}

.Medical {
    margin-top: 2vw;
}
