body {
    margin: 0;
}

.right {
    margin-left: -15vw !important;
}

header {
    background-color: #99BF87;
    height: 9vw;
    width: 100vw;
    border-bottom: solid 1px black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    width: 8vw;
}

h1 {
    font-size: 4.5vw;
    margin-left: 2.5vw;
    border-bottom: solid 5px #F4F4F4;
    padding-right: 20vw;
}

.Expenses {
    background-color: #EAEAEA;
    margin-top: 1vw;
    margin-left: 1vw;
    height: 121.1vh;
    width: 45%;
    border: solid;
    border-radius: 10px;
    display: flex;

    flex-flow: column wrap;
    padding-bottom: 6%;
}

.Career {
    border-style: solid;
    width: 40%;
    border-radius: 10px;
    background-color: #EAEAEA;
    padding: 40px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-top: 6.32vw; 
    /* top so nefarious I had to go into the decimal places */
}

.Total {
    border-style: solid;
    width: 40vw !important;
    height: 24vh;
    background-color: #EAEAEA;
    border-radius: 10px;
    position: absolute;
    padding: 15px;
    /* paddn't */
    top: 100%;
    left: 50%;
    padding-right: 4.5%;
    text-decoration: none;
}

.eheader {
    display: flex;
    justify-content: center;
    border-bottom: solid;
    align-self: center;
    width: 20rem;
    font-size: 2.5vw;
    margin-left: 15.5%;
}

.ExpensesInput {
    width: 6rem;
    height: 1.2rem;
    border-radius: 10px;
    box-shadow: 0px 1.5px;
    margin-left: 5vw;
    margin-right: 40em;
}

.Expenses p {
    /* text-shadow: 0px 1px; */
    font-size: 2rem;
    margin-left: 5vw;
}

.rights {
    margin-top: 20%;
}

.Total {
    margin-top: 40vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 36px;
}

.display {
    width: 18rem;
    height: 2.4rem;
    border-radius: 10px;
    box-shadow: 0px 1.5px;
    
}

.careerimg {
    width: 100%;
    height: auto;
}

.careerheader {
    display: flex;
    justify-content: center;
    border-bottom: solid;
    align-self: center;
    width: 40rem;
    font-size: 2.5vw;
    margin-left: 10%;
}

.totalText {
    text-decoration: underline;
}
main{
    padding-bottom: 10rem;
}

#careers {
    /* display:flex; */
    flex-wrap:wrap;
    overflow: scroll;
    max-height: 89vh;
    max-width: 100vw;
}

